*{
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

#root{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;               
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    padding-top: 100px;
}

.dev{
    width: 100%;            
    height: 95%;
    box-sizing: border-box; 
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: rgb(167, 167, 167) 5px 10px 10px;
    padding: 50px 20px;
}

header{
    position: fixed;
    width: 100vw;
    background-color: rgb(252, 255, 99);
    top: 0;
    left: 0;
    display: flex;
    padding: 5px 30px;
    align-items: center;
    height: 60px;
    overflow: hidden;
    justify-content: space-between;
    border-bottom: 2px solid rgb(168, 168, 168);
}

header img{
    max-width: 20%;
    max-height: 80%;
    height: auto;
}

header h3{
    font-weight: 500;
}

@media screen and (max-width: 900px){
    #root{
        display: flex;
        flex-direction: column;
    }
    header{
        justify-content: center;
        gap: 20px;
        padding: 0px 30px;
    }
    header h3{
        font-size: 70%;
    }
    header img{
        max-width: 40%;
    }
}
